body {
	background-size: 20% 90%;
	background-image: url('img/fondo2.jpg');
	background-repeat:repeat-x;
	background-position: center;
}

header {
	background-color: #2d3b3d;
	height: 40%;
	color: rgb(201, 22, 22);
}

header h1 {
	margin-top: 4%;
}
.main div {
	background-color: #2f3c2a;
	height: auto;
	margin-top: 4%;
}

.main div a {
	width: auto;
	height: auto;
}

.main div a img {
	width: 80%;
	height: 80%;
	margin: 10% 10%;
	display: block;
	border-radius: 50%;
	box-shadow: 10px 10px 0px 0px #1d64a6;
}

footer {
	background-color: #000000;
	color: azure;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 4%;
}

.menu{
	background-color: #2f3c2a;
	width: 100%;
	position: fixed;
	bottom: 0%;
}

.menu nav{
	text-align:center;
}

.menu nav button {
	border-color: #3ba7e1 ;
	font-style: none;
	background: #3ba7e1;
	color: black;
	padding: 5px 20px;
	box-shadow: 0px 5px 0px #1d64a6;
	width: auto;
	height: 70%;
	text-decoration: none;
	display: inline-block;
	margin: 5px 10px;
	margin-bottom: 10px;
}

.menu nav button:hover {
	border-color: green ;
	background: green;
	color: white;
	text-decoration: none;
	font-style: none;
	box-shadow: 0px 0px 0px;
}
.menu nav button:active {
	box-shadow: none;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


