body {
	background-size: 20% 90%;
	background-image: url('img/fondo2.jpg');
	background-repeat:repeat-x;
	background-position: center;
}

header {
	background-color: #2d3b3d;
	height: 40%;
	color: rgb(201, 22, 22);
}

header h1 {
	margin-top: 4%;
}
.main div {
	background-color: #2f3c2a;
	height: auto;
	margin-top: 4%;
}

.main div a {
	width: auto;
	height: auto;
}

.main div a img {
	width: 80%;
	height: 80%;
	margin: 10% 10%;
	display: block;
	border-radius: 50%;
	box-shadow: 10px 10px 0px 0px #1d64a6;
}

footer {
	background-color: #000000;
	color: azure;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 4.9%;
}

nav {
	position: fixed;
	background: #2f3c2a;
	bottom: 0%;
	left: 0%;
	top: 90%;

	width: 100%;
	height: 10%;
}

nav a {
	font-style: none;
	background: #3ba7e1;
	color: black;
	padding: 5px 20px;
	box-shadow: 0px 5px 0px #1d64a6;
	width: auto;
	height: 70%;
	text-decoration: none;
	display: inline-block;
	margin: 5px 10px;
}
nav a:hover {
	background: green;
	color: white;
	text-decoration: none;
	font-style: none;
	box-shadow: 0px 0px 0px;
}
nav a:active {
	box-shadow: none;
}
