<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat con sockets</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src= "main.js"></script>
  </head>
  <body>
    <h1>Chat de lol</h1>
    <div id="messages"></div>
    <br/>
    <form onsubmit="return addMessage(this)">
      <input type="text" id="username" placeholder="Usuario">
      <input type="text" id="texto" placeholder="Mensaje">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
